<header class="navigation">
  <div class="menu-wrapper">
    <div class="logo">Logo</div>
    <p id="js-mobile-menu">EarthSpy</p>
    <div class="nav">
      <ul id="navigation">
        <li><a href="">View by City</a></li>
        <li><a href="">View by Country</a></li>
        <li><a href="">About</a></li>
      </ul>
    </div>
  </div>
</header>

<script>
  $(function() {
    var menu = $('#navigation');
    var menuToggle = $('#js-mobile-menu');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });
  });
</script>
